In [2]:
import syft as sy
sy.requires(">=0.8,<0.8.1")
from syft.client.api import NodeView

✅ The installed version of syft==0.8.0 matches the requirement >=0.8 and the requirement <0.8.1

In [3]:
node = sy.orchestra.launch(name="test-domain-1", port=8080, dev_mode=True)

Starting test-domain-1 server on 0.0.0.0:8080

WARNING: private key is based on node name: test-domain-1 in dev_mode. Don't run this in production.
SQLite Store Path:
!open file:///var/folders/4s/vsgdjz495453yymsd09nx80c0000gn/T/7bca415d13ed1ec841f0d0aede098dbb.sqlite

> Domain: test-domain-1 - 7bca415d13ed1ec841f0d0aede098dbb - NodeType.DOMAIN

Services:
ActionService
DataSubjectMemberService
DataSubjectService
DatasetService
MessageService
MetadataService
NetworkService
PolicyService
ProjectService
RequestService
UserCodeService
UserService

INFO:     Started server process [2431]
INFO:     Waiting for application startup.
INFO:     Application startup complete.
INFO:     Uvicorn running on http://0.0.0.0:8080 (Press CTRL+C to quit)

INFO:     127.0.0.1:49625 - "GET /api/v1/new/metadata HTTP/1.1" 200 OK
INFO:     127.0.0.1:49628 - "POST /api/v1/new/register HTTP/1.1" 200 OK
INFO:     127.0.0.1:49628 - "GET /api/v1/new/api?verify_key=0f6e3c166aca10b61249a83e066c3e78dec5562a32b558bf641e0393b696b0cd HTTP/1.1" 200 OK
INFO:     127.0.0.1:49632 - "POST /api/v1/new/login HTTP/1.1" 200 OK
INFO:     127.0.0.1:49632 - "GET /api/v1/new/api?verify_key=0f6e3c166aca10b61249a83e066c3e78dec5562a32b558bf641e0393b696b0cd HTTP/1.1" 200 OK
INFO:     127.0.0.1:49636 - "POST /api/v1/new/api_call HTTP/1.1" 200 OK
INFO:     127.0.0.1:49639 - "POST /api/v1/new/api_call HTTP/1.1" 200 OK
INFO:     127.0.0.1:49642 - "POST /api/v1/new/api_call HTTP/1.1" 200 OK
INFO:     127.0.0.1:49645 - "GET /api/v1/new/metadata HTTP/1.1" 200 OK
INFO:     127.0.0.1:49648 - "GET /api/v1/new/metadata HTTP/1.1" 200 OK
INFO:     127.0.0.1:49651 - "POST /api/v1/new/api_call HTTP/1.1" 200 OK
INFO:     127.0.0.1:49654 - "GET /api/v1/new/api?verify_key=0f6e3c166aca10b61249a83e066c3e78dec5562a32b558bf641e0393b696b0cd HTTP/1.1" 200 OK
INFO:     127.0.0.1:49657 - "POST /api/v1/new/api_call HTTP/1.1" 200 OK
INFO:     127.0.0.1:49660 - "POST /api/v1/new/api_call HTTP/1.1" 200 OK
INFO:     127.0.0.1:49663 - "POST /api/v1/new/api_call HTTP/1.1" 200 OK
INFO:     127.0.0.1:49666 - "POST /api/v1/new/api_call HTTP/1.1" 200 OK
INFO:     127.0.0.1:49669 - "GET /api/v1/new/api?verify_key=0f6e3c166aca10b61249a83e066c3e78dec5562a32b558bf641e0393b696b0cd HTTP/1.1" 200 OK
INFO:     127.0.0.1:49672 - "POST /api/v1/new/api_call HTTP/1.1" 200 OK

INFO:     Shutting down
INFO:     Waiting for application shutdown.
INFO:     Application shutdown complete.
INFO:     Finished server process [2431]

In [4]:
guest_domain_client = node.client

In [5]:
guest_credentials = guest_domain_client.credentials
guest_credentials

In [6]:
guest_domain_client.register(name="Jane Doe", email="jane@caltech.edu", password="abc123", institution="Caltech", website="https://www.caltech.edu/")

<class 'syft.service.response.SyftSuccess'>: jane@caltech.edu User successfully registered !!!

In [7]:
guest_domain_client.login(email="jane@caltech.edu", password="abc123")

In [8]:
assert guest_domain_client.credentials != guest_credentials

In [9]:
results = guest_domain_client.api.services.dataset.get_all()
results

[syft.service.dataset.dataset.Dataset]

In [10]:
assert len(results) == 1

In [11]:
dataset = results[-1]

In [12]:
dataset

syft.service.dataset.dataset.Dataset

In [13]:
mock = dataset.assets[0].mock
mock

,Classification,Year,Period,Period Desc.,Aggregate Level,Is Leaf Code,Trade Flow Code,Trade Flow,Reporter Code,Reporter,...,Partner,Partner ISO,Commodity Code,Commodity,Qty Unit Code,Qty Unit,Qty,Netweight (kg),Trade Value (US$),Flag
10,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Bangladesh,NaN,19,"Preparations of cereals, flour, starch or milk...",0,NaN,NaN,0.0,227222,0
11,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Haiti,NaN,19,"Preparations of cereals, flour, starch or milk...",0,NaN,NaN,0.0,14748,0
12,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Guatemala,NaN,19,"Preparations of cereals, flour, starch or milk...",0,NaN,NaN,0.0,1314,0
13,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Iraq,NaN,19,"Preparations of cereals, flour, starch or milk...",0,NaN,NaN,0.0,1825,0
14,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Israel,NaN,19,"Preparations of cereals, flour, starch or milk...",0,NaN,NaN,0.0,1063627,0
15,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Italy,NaN,19,"Preparations of cereals, flour, starch or milk...",0,NaN,NaN,0.0,8359327,0
16,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Jordan,NaN,19,"Preparations of cereals, flour, starch or milk...",0,NaN,NaN,0.0,16858,0
17,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Rep. of Moldova,NaN,19,"Preparations of cereals, flour, starch or milk...",0,NaN,NaN,0.0,29897,0
18,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Nigeria,NaN,19,"Preparations of cereals, flour, starch or milk...",0,NaN,NaN,0.0,22235,0
19,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Slovenia,NaN,19,"Preparations of cereals, flour, starch or milk...",0,NaN,NaN,0.0,1328,0

In [14]:
mock["Trade Value (US$)"].sum()

9738381

In [15]:
@sy.syft_function(input_policy=sy.ExactMatch(trade_data=mock),
                  output_policy=sy.SingleExecutionExactOutput())
def sum_trade_value_mil(trade_data):
    import pandas as pd
    from opendp.mod import enable_features
    enable_features('contrib')
    from opendp.measurements import make_base_laplace
    aggregate = 0.
    base_lap = make_base_laplace(scale=5.)
    noise = base_lap(aggregate)

    df = trade_data
    total = df["Trade Value (US$)"].sum()
    return (float(total / 1_000_000), float(noise))

In [16]:
result = sum_trade_value_mil(trade_data=mock)
result

(9.738381, -0.4974763064977833)

In [17]:
assert result[0] == 9.738381

In [18]:
assert isinstance(result[1], float)

In [19]:
assert len(sum_trade_value_mil.kwargs) == 1

In [20]:
node_view = NodeView.from_api(guest_domain_client.api)
assert node_view in sum_trade_value_mil.kwargs

In [21]:
assert "trade_data" in sum_trade_value_mil.kwargs[node_view]

In [22]:
assert sum_trade_value_mil.input_policy_init_kwargs[node_view]["trade_data"] == mock.id

In [23]:
sum_trade_value_mil.code

'@sy.syft_function(input_policy=sy.ExactMatch(trade_data=mock),\n                  output_policy=sy.SingleExecutionExactOutput())\ndef sum_trade_value_mil(trade_data):\n    import pandas as pd\n    from opendp.mod import enable_features\n    enable_features(\'contrib\')\n    from opendp.measurements import make_base_laplace\n    aggregate = 0.\n    base_lap = make_base_laplace(scale=5.)\n    noise = base_lap(aggregate)\n\n    df = trade_data\n    total = df["Trade Value (US$)"].sum()\n    return (float(total / 1_000_000), float(noise))\n'

In [24]:
guest_domain_client.api.services.code.request_code_execution(sum_trade_value_mil)

syft.service.request.request.Request

In [25]:
guest_domain_client.code

In [26]:
assert len(guest_domain_client.api.services.code.get_all()) == 1

In [27]:
new_project = sy.Project(name="My Cool UN Project")

In [28]:
proj_desc = """Hi, I want to calculate the trade volume in million's with my cool code."""
new_project.set_description(proj_desc)

In [29]:
submitted_code = guest_domain_client.code[0]

In [30]:
submitted_code

syft.service.code.user_code.UserCode

In [31]:
new_project.add_request(obj=submitted_code, permission=sy.UserCodeStatus.EXECUTE)

In [32]:
new_project.add_request(obj=submitted_code, permission=sy.UserCodeStatus.EXECUTE)

In [33]:
new_project.changes

[syft.service.project.project.ObjectPermissionChange,
 syft.service.project.project.ObjectPermissionChange]

In [34]:
new_project

syft.service.project.project.ProjectSubmit

In [35]:
guest_domain_client.submit_project(new_project)

<class 'syft.service.response.SyftSuccess'>: Project Submitted

In [36]:
guest_domain_client._api = None
_ = guest_domain_client.api

In [37]:
result = guest_domain_client.api.services.code.sum_trade_value_mil(trade_data=mock.id)
result

<class 'syft.service.response.SyftNotReady'>: <class 'syft.service.code.user_code.UserCode'> Your code is waiting for approval: {NodeView(node_name='test-domain-1', verify_key=aec6ea4dfc049ceacaeeebc493167a88a200ddc367b1fa32da652444b635d21f): <UserCodeStatus.SUBMITTED: 'submitted'>}

In [38]:
assert isinstance(result, sy.SyftNotReady)

In [39]:
if node.node_type.value == "python":
    node.land()

Stopping test-domain-1